# Секция пользователя
# ==================================
.env
.vscode/
node_modules/


# Рекомендуемые дополнения
# ==================================

# Логи и отладочные файлы
# Игнорируем файлы логов и отладочные отчеты от npm/yarn
# ==================================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Скомпилированный код
# Игнорируем папку, в которую TypeScript компилирует JavaScript
# ==================================
dist/
build/
.tsbuildinfo


# Отчеты о покрытии тестами
# Папки, создаваемые инструментами для анализа покрытия кода тестами
# ==================================
coverage/
.nyc_output/


# Файлы операционной системы
# Системный "мусор", создаваемый macOS и Windows
# ==================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


# Файлы IDE и редакторов кода
# Папки с настройками для других популярных редакторов, полезно для команды
# ==================================
.idea/
*.sublime-project
*.sublime-workspace